@import './adaptive.scss';

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roobert', sans-serif;
}

/*!!--ШАПКА САЙТА--start--!!*/

.site_header {
	background-color: #121212;
	width: 100%;
}
/*Шапка сайта*/

.content_header {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/*Контент шапки*/

.top_header {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
/*Верхушка сайта*/

.increase_logo {
	color: white;
	padding-top: 10px;
}
/*Лого приближения*/

.catalog_logo {
	color: white;
}
/*Лого каталога*/

.text_header {
	padding-top: 100px;
}
/*Текст шапки*/

.text_block_header {
	line-height: 1.2;
}

.left_text_header {
	text-align: center;
	font-size: 74px;
	font-weight: 700;
	color: #171717;
	-webkit-text-stroke: 2px white;
}
/*Текст, выезжающий слева*/

.right_text_header {
	text-align: center;
	color: white;
	font-size: 74px;
	font-weight: 700;
	padding-bottom: 0;
}
/*Текст, выезжающий справа*/

.line_header {
	color: white;
	width: 1px;
	margin: 75px auto 75px auto;
}
/*Линия шапки*/

.under_text_header {
	text-align: center;
	color: #e83367;
	font-size: 20px;
	line-height: 28px;
	font-weight: 100;
}
/*Последний текст в секции*/

/*!!--ШАПКА САЙТА--end--!!*/

/*!!--ПЕРВАЯ СЕКЦИЯ--start--!!*/

.section_1 {
	background-color: #121212;
	width: 100%;
	padding-top: 300px;
}

.content_section_1 {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
}

.row_1__1 {
	width: 52%;
}

.title_section_1 {
	color: white;
	font-size: 54px;
	font-weight: 600;
}

.text_section_1 {
	color: white;
	font-size: 24px;
	font-weight: 300;
	padding-top: 40px;
}

.link_section_1 {
	display: flex;
	padding-top: 20px;
}

.logo_link_1 {
	color: #e83367;
	padding-top: 20px;
}

.text_link_1 {
	color: #e83367;
	font-size: 36px;
	font-weight: 700;
	padding-top: 5px;
}

.picture_1 {
	width: 350px;
	padding-top: 100px;
}

/*!!--ПЕРВАЯ СЕКЦИЯ--end--!!*/

/*!!--ВТОРАЯ СЕКЦИЯ--start--!!*/

.section_2 {
	background-color: #121212;
	width: 100%;
	padding-top: 150px;
}
/*Секция 2*/

.content_section_2 {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/*Контент секции 2*/

.title_section_2 {
	line-height: 1.2;
	padding-left: 15%;
	padding-bottom: 75px;
}
/*Заголовок секции 2*/

.left_text_2 {
	font-size: 60px;
	font-weight: 700;
	color: #171717;
	-webkit-text-stroke: 1px white;
}
/*Текст, выезжающий слева*/

.right_text_2 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	padding-bottom: 0;
}
/*Текст, выезжающий справа*/

.str_2 {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-bottom: 100px;
}
/*Строка секции*/

.number_str_2 {
	color: #171717;
	-webkit-text-stroke: 1px lightgray;
	font-size: 34px;
	padding-right: 5%;
}
/*Номер строки*/

.title_str_2 {
	display: flex;
	color: #e83367;
	font-size: 28px;
	font-weight: 600;
	padding-top: 5px;
}
/*Заголовок строки*/

.word_title_2__2 {
	padding-left: 5px;
}
/*Второе слово*/

.word_title_2__3 {
	padding-left: 5px;
}
/*Третье слово*/

.word_title_2__4 {
	padding-left: 5px;
}
/*Четвёртое слово*/

.word_title_2__5 {
	padding-left: 5px;
}
/*Пятое слово*/

.text_str_2__1 {
	color: white;
	font-size: 20px;
	font-weight: 300;
	padding-top: 10px;
	padding-left: 13%;
}

.text_str_2__2 {
	color: white;
	font-size: 20px;
	font-weight: 300;
	padding-top: 10px;
	padding-left: 14%;
}

.text_str_2__3 {
	color: white;
	font-size: 20px;
	font-weight: 300;
	padding-top: 10px;
	padding-left: 10%;
}

.text_str_2__4 {
	color: white;
	font-size: 20px;
	font-weight: 300;
	padding-top: 10px;
	padding-left: 17%;
}
/*Текст строки*/

/*!!--ВТОРАЯ СЕКЦИЯ--end--!!*/

/*!!--ТРЕТЬЯ СЕКЦИЯ--start--!!*/

.section_3 {
	background-color: #121212;
	width: 100%;
	padding-top: 150px;
}
/*Секция 3*/

.content_section_3 {
	width: 100%;
	margin: 0 auto;
}
/*Контент секции 3*/

.row_container_3 {
	display: flex;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}
/*Контейнер с рядами*/

.row_3__2 {
	padding-left: 13%;
}
/*Ряд секции*/

.picture_3 {
	width: 425px;
}
/*Картинка секции*/

.title_row_3 {
	color: white;
	font-size: 44px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 30px;
	line-height: 1.2;
}
/*Заголовок ряда*/

.text_row_3 {
	color: white;
	font-size: 20px;
	font-weight: 400;
}
/*Текст ряда*/

.str_3 {
	padding-top: 175px;
	line-height: 1.2;
	text-align: center;
}
/*Строка секции*/

.text_str_3_w {
	text-align: center;
	color: white;
	font-size: 74px;
	font-weight: 700;
}
/*Белй текст секции*/

.text_str_3_d {
	text-align: center;
	font-size: 74px;
	font-weight: 700;
	color: #171717;
	-webkit-text-stroke: 2px white;
}
/*Тёмный текст секции*/

/*!!--ТРЕТЬЯ СЕКЦИЯ--end--!!*/

/*!!--ЧЕТВЁРТАЯ СЕКЦИЯ--start--!!*/

.section_4 {
	background-color: #121212;
	width: 100%;
	padding-top: 200px;
}
/*Секция 4*/

.content_section_4 {
	width: 100%;
	margin: 0 auto;
}
/*Контент секции 4*/

.row_container_4 {
	display: flex;
	justify-content: space-between;
	margin-left: 13%;
	margin-right: 13%;
}
/*Контейнер с рядами*/

.row_4__1 {
	line-height: 1.2;
	width: 30%;
}
/*Первый ряд секции*/

.title_row_4_d {
	text-align: start;
	font-size: 74px;
	font-weight: 700;
	color: #171717;
	-webkit-text-stroke: 2px white;
}
/*Тёмный заголовок*/

.title_row_4_w {
	text-align: start;
	color: white;
	font-size: 74px;
	font-weight: 700;
}
/*Белый заголовок*/

.row_4__2 {
	width: 37%;
}
/*Второй ряд секции*/

.str_4 {
	font-size: 16px;
	font-weight: 400;
	color: white;
	padding-bottom: 20px;
}
/*Строка ряда*/

.logo_link_4 {
	color: #e83367;
	padding-top: 20px;
}
/*Логотип ссылки*/

.link_section_4 {
	display: flex;
}
/*Ссылка секции*/

.text_link_4 {
	color: #e83367;
	font-size: 36px;
	font-weight: 700;
	padding-top: 5px;
}
/*Текст ссылки*/

.awards_block {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 150px;
}
/*Блок с наградами*/

.title_block_4 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 75px;
}
/*Заголовок блока*/

.name_award {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
	padding-left: 2%;
}
/*Название награды*/

.number_award__1 {
	color: #171717;
	-webkit-text-stroke: 1px lightgray;
	font-size: 50px;
	font-weight: 700;
	padding-left: 60%;
}

.number_award__2 {
	color: #171717;
	-webkit-text-stroke: 1px lightgray;
	font-size: 50px;
	font-weight: 700;
	padding-left: 67.5%;
}
/*Число награды*/

.line_award {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
}
/*Линия нарграды*/

.award_1 {
	display: flex;
}
/*Награда 1*/

.logo_award_1 {
	width: 150px;
	height: 40px;
	margin-top: 15px;
}
/*Логотип награды 1*/

.award_2 {
	display: flex;
}
/*Награда 2*/

.logo_award_2 {
	width: 150px;
	height: 40px;
	margin-top: 15px;
}
/*Логотип награды 2*/

/*!!--ЧЕТВЁРТАЯ СЕКЦИЯ--end--!!*/

/*!!--ПЯТАЯ СЕКЦИЯ--start--!!*/

.section_5 {
	background-color: #121212;
	width: 100%;
	padding-top: 80px;
}
/*Секция 5*/

.content_section_5 {
	width: 100%;
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%;
}
/*Контент секции 5*/

.title_section_5 {
	color: #e83367;
	font-size: 48px;
	font-weight: 600;
	padding-bottom: 100px;
}
/*Заголовок секции*/

.str_5 {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}
/*Строка секции*/

.img_5 {
	width: 15%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Изображение*/

/*-Картинки-start-*/

.picture_5__1 {
	width: 90%;
	height: 40px;
}

.picture_5__2 {
	width: 90%;
	height: 40px;
}

.picture_5__3 {
	width: 90%;
	height: 50px;
}

.picture_5__4 {
	width: 90%;
	height: 25px;
}

.picture_5__5 {
	width: 90%;
	height: 35px;
}

.picture_5__6 {
	width: 90%;
	height: 57px;
}

.picture_5__7 {
	width: 90%;
	height: 44px;
}

.picture_5__8 {
	width: 90%;
	height: 22px;
}

.picture_5__9 {
	width: 90%;
	height: 59px;
}

.picture_5__10 {
	width: 90%;
	height: 48px;
}

.picture_5__11 {
	width: 90%;
	height: 38px;
}

.picture_5__12 {
	width: 90%;
	height: 21px;
}

.picture_5__13 {
	width: 90%;
	height: 33px;
}

.picture_5__14 {
	width: 90%;
	height: 46px;
}

.picture_5__15 {
	width: 90%;
	height: 42px;
}

.picture_5__16 {
	width: 90%;
	height: 46px;
}

.picture_5__17 {
	width: 90%;
	height: 52px;
}

.picture_5__18 {
	width: 90%;
	height: 23px;
}

.picture_5__19 {
	width: 90%;
	height: 21px;
}

.picture_5__20 {
	width: 90%;
	height: 24px;
}

.picture_5__21 {
	width: 90%;
	height: 60px;
}

.picture_5__22 {
	width: 90%;
	height: 44px;
}

.picture_5__23 {
	width: 90%;
	height: 60px;
}

.picture_5__24 {
	width: 90%;
	height: 17px;
}

.picture_5__25 {
	width: 90%;
	height: 31px;
}

/*-Картинки-end-*/

/*!!--ПЯТАЯ СЕКЦИЯ--end--!!*/

/*!!--ПОДВАЛ САЙТА--start--!!*/

.footer_site {
	background-color: #121212;
	width: 100%;
	padding-top: 100px;
}
/*Подвал сайта*/

.content_footer {
	width: 100%;
	margin: 0 auto;
}
/*Контент подвала*/

.logo_footer {
	color: white;
}
/*Логотип подвала*/

.footer_block_container {
	display: flex;
	justify-content: space-between;
}
/*Блочный контейнер подвала*/

.line_footer {
	margin-left: 100px;
	margin-right: 100px;
}
/*Линия подвала*/

.footer_block_1 {
	width: 150%;
}
/*Блок подвала 1*/

.navigation_links {
	padding-top: 50px;
}
/*Навигационные ссылки*/

.link_footer {
	font-size: 44px;
	font-weight: 600;
	color: #e83367;
}

.link_footer__1 {
	font-size: 44px;
	font-weight: 600;
	color: #e83367;
	padding-right: 5%;
}

.link_footer__2 {
	font-size: 44px;
	font-weight: 600;
	color: #e83367;
	padding-right: 5%;
}

.link_footer__3 {
	font-size: 44px;
	font-weight: 600;
	color: #e83367;
	padding-right: 5%;
}
/*Ссылка подвала*/

.footer_block_2 {
}
/*Блок подвала 2*/

.title_block_2 {
}
/*Заголовок блока*/

.text_block_2 {
}
/*Текст блока*/

.link_block_2 {
}
/*Ссылка блока*/

.navigation_logotypes_1 {
}
/*Навигационные логотипы 1*/

.logo_link_footer {
}
/*Логотип подвала*/

.navigation_logotypes_2 {
}
/*Навигационные логотипы 2*/

.footer_block_3 {
}
/*Блок подвала 3*/

.str_block_3 {
}
/*Сторка блока*/

.title_str_block_3 {
}
/*Заголовок строки*/

.text_str_block_3 {
}
/*Текст строки*/

.link_str_block_3 {
}
/*ссылка строки*/

/*!!--ШАПКА САЙТА--end--!!*/
